@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  accent-color: theme('colors.accent');
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .overflow-hidden {
    overflow: hidden;
  }

  .marker-text {
    position: absolute;
    bottom: -2.5rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 0.5rem;
    border-radius: 0.25rem;
    white-space: nowrap;
    pointer-events: none;
    font-size: theme('fontSize.lg');
    font-family: '__Inter_aaf875', '__Inter_Fallback_aaf875' !important;
  }

  .react-datepicker {
    z-index: 9999 !important;
  }
}

.mapboxgl-map {
  font-family: '__Inter_aaf875', '__Inter_Fallback_aaf875' !important;
}

.mapboxgl-popup-close-button {
  font-size: theme('fontSize.lg') !important;
  font-family: '__Inter_aaf875', '__Inter_Fallback_aaf875' !important;
  margin: 0 0.5rem 0 0;
}

.mapboxgl-popup-content {
  padding: 1rem 0.5rem !important;
}

@layer components {
  .custom-radio {
    @apply form-radio bg-sutraRadioBgUnchecked;

    outline: none;
    border: none;

    &:is(.dark *) {
      background-color: transparent;
      outline: 1px solid theme('colors.secondary-light');

      @apply ring-0;
    }
  }
  .custom-radio:checked {
    @apply text-secondary-dark;

    &:is(.dark *) {
      @apply text-secondary-light;
      @apply ring-0 outline-none;
      background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9 12l2 2l4 -4" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
    }
    background-color: currentColor;

    background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9 12l2 2l4 -4" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
  }
  .custom-radio:focus {
    @apply outline-none ring-transparent;
  }
}

// BLOGOVI / NOVOSTI WP CONTENT

.the-content {
  figure {
    width: auto !important;
  }

  b {
    font-weight: 600;
  }
}
.proza-custom-blog {
  .flex {
    @media only screen and (max-width: theme('screens.xl')) {
      flex-wrap: wrap;
    }
  }
}

// SLIDER

.slider-container {
  .slick-prev,
  .slick-next {
    &::before {
      color: theme('colors.accent');
    }
  }
}

.react-datepicker-popper {
  z-index: 9999 !important;
}

///// NAPRAVIT

.test-kartica {
  a {
    h5 {
      span {
        font-size: 50px;
        line-height: 1.2;
      }
    }
  }
}

.test-kartica-demo-fallback {
  box-shadow: 1px 1px 1px rebeccapurple;
}

.lovre {
  // transform: scale(2);
}
